:root {
    --dark-background: #101620;
    --medium-background:#171E29;
    --color-pop: #D9113A;
}

body{
    background-color: var(--dark-background);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none
    
}